h2 {
    font-weight: 600;
}

h6 {
    display: flex;
    font-weight: 600;
}

label {
    font-size: 20px;
    font-weight: 600;
}

b {
    font-weight: 600;
    font-size: 20px;
    color: red;
}

input,
textarea {
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 1rem;
}

p {
    margin-bottom: 0;
}

button {
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}